[gerrit]
	basePath = git
	serverId = 74091e7f-d6c3-4c3e-bb49-07f540d20bfb
	canonicalWebUrl = http://127.0.0.1:9090/
[database]
	type = h2
	database = /home/xxxx/gerrit_testsite/db/ReviewDB
[auth]
    type = LDAP
[ldap]
    server = ldap://xxx.net.net:389
    accountBase = ou=People,o=NSN
    accountFullName = cn
    username = cn=BOOTMAN_Acc,ou=SystemUsers,ou=Accounts,o=NSN
    groupBase = ou=Groups,o=NSN
    accountPattern = (&(objectClass=person)(uid=${username}))
    groupPattern = (&(objectClass=groupOfNames)(cn=${groupname}))
    groupMemberPattern = (member=${dn})
    referral = follow
[receive]
	enableSignedPush = false
[sendemail]
	smtpServer = localhost
[container]
	user = xxxx
	javaHome = /home/xxxx/Downloads/jre1.8.0_121
[sshd]
	listenAddress = *:29418
[httpd]
	listenUrl = http://*:9090/
[cache]
	directory = cache
[http]
	proxy = http://10.144.1.10:8080
